
@{
    ViewBag.Title = "Đặt bàn thành công";
}





<style>
    .container {
        position: relative;
        width: 100%;
    }

        .container img {
            width: 100%;
            height: auto;
        }

    .text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 80px;
        color: white;
    }
</style>
<div class="container">
    <img src="~/Content/cssformres/images/pexelsphoto3828366.jpeg" alt="Image">
    <div class="text">Đặt bàn thành công</div>
</div>

