USE [WebNhaHang-20230414061241]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Aplication]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Aplication](
	[ApplicantID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Position] [nvarchar](max) NULL,
	[Experience] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Tb_Aplication] PRIMARY KEY CLUSTERED 
(
	[ApplicantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Category]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[SeoTitle] [nvarchar](150) NULL,
	[SeoDescription] [nvarchar](250) NULL,
	[SeoKeywords] [nvarchar](150) NULL,
	[Position] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tb_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Contact]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Message] [nvarchar](4000) NULL,
	[Isread] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tb_Contact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Order]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Mail] [nvarchar](max) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TypePayment] [int] NOT NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tb_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_OrderDetail]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tb_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_ProductCategory]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_ProductCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Alias] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Icon] [nvarchar](250) NULL,
	[IsActive] [bit] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tb_ProductCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_ProductImage]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_ProductImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tb_ProductImage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Productt]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Productt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Alias] [nvarchar](250) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[ProductCategoryID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[Image] [nvarchar](250) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[PriceSale] [decimal](18, 2) NULL,
	[IsHome] [bit] NOT NULL,
	[IsSale] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[IsFeature] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[SeoTitle] [nvarchar](250) NULL,
	[SeoDescription] [nvarchar](500) NULL,
	[SeoKeywords] [nvarchar](250) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tb_Productt] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Reservation]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Reservation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NULL,
	[Room] [nvarchar](250) NULL,
	[NumberOfPeople] [nvarchar](max) NULL,
	[DateTime] [datetime] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[CreateBy] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifieDate] [datetime] NOT NULL,
	[ModifieBy] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tb_Reservation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29-May-23 1:35:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[ActivationCode] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'01faf2b3-503a-4500-a3dd-1f330e3de986', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'9b6f7639-3bdb-4145-88e0-40854964763a', N'Employee')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'02f34fa4-21b0-48d5-94f1-6891c81252d3', N'01faf2b3-503a-4500-a3dd-1f330e3de986')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Phone]) VALUES (N'02f34fa4-21b0-48d5-94f1-6891c81252d3', N'taolaxuanloc@gmail.com', 0, N'ACkj2ls9hFAH7e14kEh0n40zUNwtxVkRRUjcA9/MSjWmTJNils1ogmyXaFapXdij/A==', N'f81cdd9b-fd78-4997-b6ab-5a6065df864f', NULL, 0, 0, NULL, 1, 0, N'admin', N'trần Xuân lộc', N'0906303905')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Phone]) VALUES (N'c9d4dea6-c447-4817-bb2e-fc06acdd9089', N'loc@gmail.com', 0, N'AGnLUmZZGMNPYbOjcJsdhdcuraZNXmkw7Yno7ibBsOadrcdLGq2/8y1uT+KhTff//A==', N'c3ceb28f-3a93-490c-b592-debc01b06c31', NULL, 0, 0, NULL, 1, 0, N'nhanvien1', N'Trần Xuân Lộc 1', N'0906303905')
GO
SET IDENTITY_INSERT [dbo].[Tb_Aplication] ON 

INSERT [dbo].[Tb_Aplication] ([ApplicantID], [FullName], [Email], [Phone], [Address], [Position], [Experience], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code]) VALUES (1, N'trần Xuân lộc', N'a@gmail.com', N'0906303905', N'sdlasd', N'Giám đốc quản trị kinh doanh', N'1 năm', NULL, CAST(N'2023-04-26T14:54:38.830' AS DateTime), CAST(N'2023-04-26T14:54:38.830' AS DateTime), NULL, N'')
INSERT [dbo].[Tb_Aplication] ([ApplicantID], [FullName], [Email], [Phone], [Address], [Position], [Experience], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code]) VALUES (2, N'trần Xuân lộc', N'a@gmail.com', N'0906303905', N'sdlasd', N'Giám đốc quản trị kinh doanh', N'1 năm', NULL, CAST(N'2023-04-26T14:56:28.590' AS DateTime), CAST(N'2023-04-26T14:56:28.590' AS DateTime), NULL, N'')
INSERT [dbo].[Tb_Aplication] ([ApplicantID], [FullName], [Email], [Phone], [Address], [Position], [Experience], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code]) VALUES (3, N'trần Xuân lộc', N'loc2@gmail.com', N'0906303905', N'sdlasd', N'Giám đốc quản trị kinh doanh', N'2 năm', NULL, CAST(N'2023-04-26T15:10:36.657' AS DateTime), CAST(N'2023-04-26T15:10:36.657' AS DateTime), NULL, N'')
SET IDENTITY_INSERT [dbo].[Tb_Aplication] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Category] ON 

INSERT [dbo].[Tb_Category] ([id], [Title], [Alias], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [IsActive], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (1, N'Home', N'home', NULL, NULL, NULL, NULL, 1, 0, NULL, CAST(N'2023-04-14T19:50:04.177' AS DateTime), CAST(N'2023-05-25T19:50:35.677' AS DateTime), NULL)
INSERT [dbo].[Tb_Category] ([id], [Title], [Alias], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [IsActive], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (3, N'Contact', N'contact', NULL, NULL, NULL, NULL, 1, 0, NULL, CAST(N'2023-04-14T19:50:22.530' AS DateTime), CAST(N'2023-05-25T19:50:40.423' AS DateTime), NULL)
INSERT [dbo].[Tb_Category] ([id], [Title], [Alias], [Description], [SeoTitle], [SeoDescription], [SeoKeywords], [Position], [IsActive], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (4, N'Menu', N'menu', NULL, NULL, NULL, NULL, 1, 0, NULL, CAST(N'2023-04-14T19:50:35.603' AS DateTime), CAST(N'2023-05-25T19:50:45.427' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tb_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Contact] ON 

INSERT [dbo].[Tb_Contact] ([id], [Name], [Email], [Message], [Isread], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (1, N'loc09', N'xuanloc@gmail.com', N'oh no', 0, N'0909009099', NULL, CAST(N'2023-05-09T23:25:16.330' AS DateTime), CAST(N'2023-05-09T23:25:16.330' AS DateTime), NULL)
INSERT [dbo].[Tb_Contact] ([id], [Name], [Email], [Message], [Isread], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (2, N'loc', N'xuanloc30@gmail.com', N'sdasdasda', 0, N'312312312', NULL, CAST(N'2023-05-09T23:50:36.790' AS DateTime), CAST(N'2023-05-09T23:50:36.790' AS DateTime), NULL)
INSERT [dbo].[Tb_Contact] ([id], [Name], [Email], [Message], [Isread], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (3, N'qưeqweeq', N'xuanloc31@gmail.com', N'olololo', 0, N'123141241', NULL, CAST(N'2023-05-10T15:03:10.237' AS DateTime), CAST(N'2023-05-10T15:03:10.237' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tb_Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Order] ON 

INSERT [dbo].[Tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Mail], [TotalAmount], [Quantity], [TypePayment], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (1, N'DH6160', N'loxuan21', N'090990090', N'ádadadad', N'taolaxuanloc@gamail.com', CAST(243996.00 AS Decimal(18, 2)), 0, 2, N'090990090', CAST(N'2023-05-17T22:31:20.460' AS DateTime), CAST(N'2023-05-17T22:31:20.460' AS DateTime), NULL)
INSERT [dbo].[Tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Mail], [TotalAmount], [Quantity], [TypePayment], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (2, N'DH2120', N'loctran18', N'0906303905', N'nhà bè', N'xuanloc290901@gmail.com', CAST(109999.00 AS Decimal(18, 2)), 0, 1, N'0906303905', CAST(N'2023-05-18T19:44:11.410' AS DateTime), CAST(N'2023-05-18T19:44:11.410' AS DateTime), NULL)
INSERT [dbo].[Tb_Order] ([Id], [Code], [CustomerName], [Phone], [Address], [Mail], [TotalAmount], [Quantity], [TypePayment], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (3, N'DH4017', N'locxuan21', N'09099009099', N'nhabe', N'loc@gmail.com', CAST(200000.00 AS Decimal(18, 2)), 0, 1, N'09099009099', CAST(N'2023-05-21T10:50:32.767' AS DateTime), CAST(N'2023-05-21T10:50:32.767' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tb_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_OrderDetail] ON 

INSERT [dbo].[Tb_OrderDetail] ([id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (39, 24, 12, CAST(300000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Tb_OrderDetail] ([id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (40, 24, 13, CAST(200000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Tb_OrderDetail] ([id], [OrderId], [ProductId], [Price], [Quantity]) VALUES (41, 25, 13, CAST(200000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[Tb_OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_ProductCategory] ON 

INSERT [dbo].[Tb_ProductCategory] ([id], [Title], [Alias], [Description], [Icon], [IsActive], [SeoTitle], [SeoDescription], [SeoKeywords], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (9, N'Grilled food', N'grilled-food', NULL, N'/Uploads/files/icon/download6.jpg', 1, NULL, NULL, NULL, NULL, CAST(N'2023-05-25T20:49:26.897' AS DateTime), CAST(N'2023-05-25T20:49:26.897' AS DateTime), NULL)
INSERT [dbo].[Tb_ProductCategory] ([id], [Title], [Alias], [Description], [Icon], [IsActive], [SeoTitle], [SeoDescription], [SeoKeywords], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (10, N'Hot pot', N'hot-pot', NULL, N'/Uploads/files/icon/lau(1).jpg', 1, NULL, NULL, NULL, NULL, CAST(N'2023-05-25T20:40:26.137' AS DateTime), CAST(N'2023-05-25T20:40:26.137' AS DateTime), NULL)
INSERT [dbo].[Tb_ProductCategory] ([id], [Title], [Alias], [Description], [Icon], [IsActive], [SeoTitle], [SeoDescription], [SeoKeywords], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy]) VALUES (11, N'Drinks', N'drinks', NULL, N'/Uploads/files/icon/do%20uong(1).jpg', 1, NULL, NULL, NULL, NULL, CAST(N'2023-05-25T20:28:13.413' AS DateTime), CAST(N'2023-05-25T20:28:13.413' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tb_ProductCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_ProductImage] ON 

INSERT [dbo].[Tb_ProductImage] ([id], [ProductId], [Image], [IsDefault]) VALUES (11, 12, N'/Uploads/files/icon/do%20nuong.jpg', 1)
INSERT [dbo].[Tb_ProductImage] ([id], [ProductId], [Image], [IsDefault]) VALUES (12, 13, N'/Uploads/files/icon/download%20(2).jpg', 1)
INSERT [dbo].[Tb_ProductImage] ([id], [ProductId], [Image], [IsDefault]) VALUES (14, 15, N'/Uploads/files/icon/cheese%20toad.jpg', 1)
SET IDENTITY_INSERT [dbo].[Tb_ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Productt] ON 

SET IDENTITY_INSERT [dbo].[Tb_Productt] OFF
GO
SET IDENTITY_INSERT [dbo].[Tb_Reservation] ON 

INSERT [dbo].[Tb_Reservation] ([id], [Name], [Email], [Room], [NumberOfPeople], [DateTime], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code], [Note], [Status]) VALUES (23, N'locxuan21', N'taolaxuanloc@gmail.com', N'Bàn đôi', N'6', CAST(N'2023-04-29T18:00:00.000' AS DateTime), N'0522046523', NULL, CAST(N'2023-04-28T01:01:49.647' AS DateTime), CAST(N'2023-04-28T01:01:49.647' AS DateTime), NULL, N'MS3264', N'heluuu', -1)
INSERT [dbo].[Tb_Reservation] ([id], [Name], [Email], [Room], [NumberOfPeople], [DateTime], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code], [Note], [Status]) VALUES (24, N'a', N'taolaxuanloc@gmail.com', N'Bàn đôi', N'6', CAST(N'2024-04-23T12:00:00.000' AS DateTime), N'0522046523', NULL, CAST(N'2023-04-28T11:36:50.377' AS DateTime), CAST(N'2023-04-28T11:36:50.377' AS DateTime), NULL, N'MS4331', N'heluuu', -1)
INSERT [dbo].[Tb_Reservation] ([id], [Name], [Email], [Room], [NumberOfPeople], [DateTime], [Phone], [CreateBy], [CreateDate], [ModifieDate], [ModifieBy], [Code], [Note], [Status]) VALUES (25, N'locxuan21', N'taolaxuanloc@gmail.com', N'Bàn 6 người', N'5', CAST(N'2025-04-29T12:03:00.000' AS DateTime), N'0906303905', NULL, CAST(N'2023-05-07T20:43:58.317' AS DateTime), CAST(N'2023-05-07T20:43:58.317' AS DateTime), NULL, N'MS0115', N'bao nguyên quán', -1)
SET IDENTITY_INSERT [dbo].[Tb_Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [FirstName], [LastName], [Email], [Password], [Phone], [Address], [IsEmailVerified], [ActivationCode]) VALUES (47, N'loc xuan', N'tran', N'xuanloc0906303905@gmail.com', N'fda15a365a3917db73b7a6a8fd551314', N'0906303905', N'fo2 tổ 1', 1, N'03d0b52e-657c-47b9-8a6c-6882bbac927b')
INSERT [dbo].[Users] ([idUser], [FirstName], [LastName], [Email], [Password], [Phone], [Address], [IsEmailVerified], [ActivationCode]) VALUES (48, N'loc', N'xuan', N'xuanloc290901@gmail.com', N'8229d3e30efaec2cfd851a658e67bda1', N'0906303905', N'1234 tphcm', 1, N'b75bacbe-98bc-4bee-b7e6-717eb0435fa9')
INSERT [dbo].[Users] ([idUser], [FirstName], [LastName], [Email], [Password], [Phone], [Address], [IsEmailVerified], [ActivationCode]) VALUES (52, N'loc xuan', N'xuan', N'taolaxuanloc@gmail.com', N'8b31d7148a5e532964facd2e0542cb1d', N'0906303905', N'1234 tphcm', 1, N'72b96fa0-a940-47e3-a9c4-e627136e375b')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Tb_Aplication] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[Tb_Contact] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Tb_Contact] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifieDate]
GO
ALTER TABLE [dbo].[Tb_Reservation] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateTime]
GO
ALTER TABLE [dbo].[Tb_Reservation] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [CreateDate]
GO
ALTER TABLE [dbo].[Tb_Reservation] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ModifieDate]
GO
ALTER TABLE [dbo].[Tb_Reservation] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ActivationCode]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tb_OrderDetail_dbo.Tb_Order_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Tb_Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.Tb_OrderDetail_dbo.Tb_Order_OrderId]
GO
ALTER TABLE [dbo].[Tb_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tb_OrderDetail_dbo.Tb_Productt_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Tb_Productt] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tb_OrderDetail] CHECK CONSTRAINT [FK_dbo.Tb_OrderDetail_dbo.Tb_Productt_ProductId]
GO
ALTER TABLE [dbo].[Tb_ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tb_ProductImage_dbo.Tb_Productt_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Tb_Productt] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tb_ProductImage] CHECK CONSTRAINT [FK_dbo.Tb_ProductImage_dbo.Tb_Productt_ProductId]
GO
ALTER TABLE [dbo].[Tb_Productt]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tb_Productt_dbo.Tb_ProductCategory_ProductCategoryID] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Tb_ProductCategory] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tb_Productt] CHECK CONSTRAINT [FK_dbo.Tb_Productt_dbo.Tb_ProductCategory_ProductCategoryID]
GO
