@{
    ViewBag.Title = "Email Confirmed";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}

<h2>Congratulations! @TempData["SuccessMessage"]</h2>

<p>Thank you for confirming your email address! Click here to <a href="/home/login">login</a></p>
