@*<section class="u-clearfix u-image u-section-1" id="sec-263f" data-image-width="1500" data-image-height="1000">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-container-align-center-xs u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
                <div class="u-container-align-center u-container-style u-group u-palette-4-base u-preserve-proportions u-shape-circle u-group-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h2 class="u-align-center u-text u-text-default u-text-1">40%</h2>
                        <h6 class="u-align-center u-text u-text-2">Business lunch</h6>
                    </div>
                </div>

                <h1 class="u-align-center-xs u-text u-text-body-alt-color u-text-4"> Where every ingredient tells a story</h1>
                <p class="u-align-center-xs u-text u-text-body-alt-color u-text-5">

                </p>
                <a href="/thuc-don" class="u-align-center-xs u-border-none u-btn u-button-style u-hover-palette-3-light-2 u-palette-3-base u-btn-2">View Menu</a>
            </div>
        </div>
    </div>
</section>*@
@{ 
    ViewBag.Title = "Home";
}
 
<section class="u-clearfix u-grey-90 u-section-3" id="sec-3d95">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-bottom-xl u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                            <h2 class="u-align-center-sm u-align-center-xs u-text u-text-1">199,99 VND</h2>
                            <h3 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-2"> Grilled meat</h3>
                            <p class="u-align-center-sm u-align-center-xs u-text u-text-3">
                                Barbecue is a traditional dish loved in many countries around the world. Meat is carefully selected, marinated with spices and grilled over charcoal or oven until golden, delicious. Grilled meat can be served with raw vegetables, bread or steamed rice, making for a nutritious and delicious meal. Barbecue is the perfect choice for family parties or meeting friends.
                            </p>
                            <p class="u-align-center-sm u-align-center-xs u-text u-text-4">

                            </p>
                        </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle u-container-layout-2">
                            <img class="u-image u-image-round u-radius-50 u-image-1" src="~/Content/cssRes/images/juicy-steak-medium-rare-beef-with-spices-grilled-vegetables.jpg" alt="" data-image-width="1500" data-image-height="1000">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-90 u-section-4" id="carousel_893b">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-1" data-image-width="1500" data-image-height="996">
                    <div class="u-container-layout u-similar-container u-container-layout-1"></div>
                </div>
                <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-2" data-image-width="1000" data-image-height="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-2"></div>
                </div>
                <div class="u-container-align-center u-container-style u-image u-image-round u-list-item u-radius-50 u-repeater-item u-shading u-image-3" data-image-width="2000" data-image-height="1500">
                    <div class="u-container-layout u-similar-container u-container-layout-3"></div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-icon-circle u-opacity u-opacity-70 u-palette-4-base u-spacing-10 u-text-body-color u-gallery-nav-1" href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-gallery-nav u-gallery-nav-next u-icon-circle u-opacity u-opacity-70 u-palette-4-base u-spacing-10 u-text-body-color u-gallery-nav-2" href="#" role="button">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
<section class="u-clearfix u-grey-90 u-section-5" id="carousel_3b09">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <img class="u-image u-image-round u-radius-50 u-image-1" src="~/Content/cssRes/images/pexels-photo-3681641.jpeg" alt="" data-image-width="1000" data-image-height="1500">
                        </div>
                    </div>
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-xl u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-bottom-xl u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                            <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-1">49,99 VND</h2>
                            <h3 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-default u- text-2"> Croissants</h3>
                            <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-3"> A croissant is a popular French pastry made from flour, butter, and sugar. The cake is shaped like a horn, with a crispy outer shell and a soft, delicious inner core. Croissants are usually eaten for breakfast or as a dessert after a meal. This is a favorite dish all over the world.</p>                            <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-4">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Action("partial_ProductHot", "Product")
<section class="u-clearfix u-grey-90 u-section-7" id="carousel_3ae1">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-valign-bottom-xl u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                            <h2 class="u-align-center-sm u-align-center-xs u-text u-text-1">29,99 VND</h2>
                            <h3 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-2"> Salad with chicken</h3>
                            <p class="u-align-center-sm u-align-center-xs u-text u-text-3"> Chicken salad is a wonderful combination of fresh greens and tender chicken. Green vegetables are carefully selected, washed and chopped, then mixed with delicious salad dressing, creating a fresh and nutritious taste. The chicken is marinated in spices and grilled until golden brown, then cut into small pieces and mixed into a salad. Chicken salad is not only delicious but also full of nutrition for the body. </p>                            <p class="u-align-center-sm u-align-center-xs u-text u-text-4">

                            </p>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                            <img class="u-image u-image-round u-radius-50 u-image-1" src="~/Content/cssRes/images/fresh-salad-with-turkey-eggs-vegetables.jpg" alt="" data-image-width="1500" data-image-height="1000">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
