

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> </title>

    <!-- Start Common CSS -->
 
    <!-- End Common CSS -->
</head>

<body>
    <p>Your password has been reset</p>
    <p>Your new password is: <strong> {{newpass}}</strong></p>
    <p>Please use this password to log in to your account and then change your password for security reasons.</p>
    <hr />
    <p>Click here to <a href="https://localhost:44339/Home/Login">Login</a> </p>
</body>
</html>