@model IEnumerable<WebNhaHang.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
 
    <div class="category-menu">
        <ul   >
            @foreach (var item in Model)
            {
                if (ViewBag.CateId == item.id)
                {

                    <li class="active"><a href="/danh-muc-san-pham/@item.Alias-@(item.id)">@item.Title</a> </li>

                }
                else
                {
                    <li><a href="/danh-muc-san-pham/@item.Alias-@(item.id)">@item.Title</a></li>

                }
            }


        </ul>
    </div>
    }

