@model IEnumerable<WebNhaHang.Models.EF.Category>

<div class="navbar-nav ms-auto py-0 pe-4">
    @if (Model != null && Model.Any())
    {

        foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }

            <a class="nav-item nav-link" href="/@item.Alias" style="padding: 10px 20px;">@item.Title</a>


        }


    }
 

    </div>
