<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="40%, ​Where every ingredient tells a story, $27, $4, View Our Menu, $14, 40%, ​Keep up to date with us">
    <meta name="description" content="">
    
 
    <link rel="stylesheet" href="~/Content/cssRes/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Content/cssRes/Page-1.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/Content/cssRes/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Content/cssRes/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.7.9, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">











    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 1">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">

</head>
<body class="u-body u-xl-mode" data-lang="en">
    <style>
        .sticky-header {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            z-index: 9999;
        }

            .sticky-header .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                padding: 0 20px;
            }

            .sticky-header .logo img {
                height: 40px;
                width: 140px;
                margin-top: 10px;
            }

            .sticky-header nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
            }

            .sticky-header nav li {
                margin-right: 20px;
            }

            .sticky-header nav a {
                color: #333;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
            }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            z-index: 9999;
            animation: slideDown .5s ease-in-out forwards;
        }
    </style>
    <script>
        window.addEventListener('scroll', function () {
            const header = document.querySelector('.sticky-header');
            header.classList.toggle('sticky', window.scrollY > 0);
        });
    </script>
     

    <header class="sticky-header">

        <div class="container">
            <div class="logo">
                <a href="/home"><img src="~/Content/cssformres/images/logo.png" alt="Logo"></a>
            </div>
            <nav>
                @Html.Action("MenuTop", "Menu")
            </nav>
        </div>
    </header>


    @RenderBody()
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-1cad">

        <section class="u-clearfix u-container-align-center-sm u-container-align-center-xs u-image u-shading u-section-8" id="sec-b406" data-image-width="1500" data-image-height="807">
            <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
                <div class="u-container-align-center u-container-style u-group u-palette-4-base u-preserve-proportions u-shape-circle u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-1">
                        <h2 class="u-align-center u-text u-text-default u-text-1">40%</h2>
                        <h6 class="u-align-center u-text u-text-2">business lunch</h6>
                    </div>
                </div>
                <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-3"> Keep up to date with us</h2>
                <p class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-4">Stay informed with us..</p>
                <div class="u-form u-form-1">
                    <form action=" " class="u-clearfix u-form-horizontal u-form-spacing-21 u-inner-form" source="email" name="form" style="padding: 0px;">
                        <div class="u-form-email u-form-group u-label-none">
                            <label for="email-5e0c" class="u-label">Email</label>
                            <input type="email" placeholder="Enter a valid email address" id="email-5e0c" name="email" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-20" required="">
                        </div>
                        <div class="u-align-left u-form-group u-form-submit u-label-none">
                            <a href="#" class="u-border-2 u-border-palette-4-base u-btn u-btn-submit u-button-style u-palette-4-base u-btn-1">Submit</a>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                        </div>
                        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                        <input type="hidden" value="" name="recaptchaResponse">
                        <input type="hidden" name="formServices" value="e26e02f50b3ed906583ae7138280ca6a">
                    </form>
                </div>
            </div>
        </section>
        <section class="u-clearfix u-grey-90 u-section-9" id="sec-33fa">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-container-layout-1">
                                <span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-1"><img src="~/Content/cssRes/images/646094-d1da5d31.png" alt=""></span>
                                <h6 class="u-align-center u-text u-text-3">Mail to us</h6>
                                <p class="u-align-center u-text u-text-2">
                                    Đội ngũ thân thiện của chúng tôi ở đây để giúp đỡ.<br>
                                    <a href="#" class="u-active-none u-border-active-palette-3-base u-border-hover-palette-3-base u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-1">xuanloc290901@gmail.com </a>
                                </p>
                            </div>
                        </div>
                        <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-container-layout-2">
                                <span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-2"><img src="~/Content/cssRes/images/2838912-7facd193.png" alt=""></span>
                                <h6 class="u-align-center u-text u-text-3">Office</h6>
                                <p class="u-align-center u-text u-text-4">
                                    Come say hello at our office HQ.<br>
                                    <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-base u-btn-2">
                                        Nhà bè ,Phú xuân
                                    </a>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                            <div class="u-container-layout u-similar-container u-container-layout-3">
                                <span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-4-base u-icon-3"><img src="~/Content/cssRes/images/8066424-92fb1413.png" alt=""></span>
                                <h6 class="u-align-center u-text u-text-5">Phone</h6>
                                <p class="u-align-center u-text u-text-6">
                                    T2-T6 từ 8h-17h<br>
                                    <a href="#" class="u-active-none u-border-active-palette-3-base u-border-hover-palette-3-base u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-palette-3-base u-text-hover-palette-3-base u-text-palette-3-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">0906303905</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- move top -->
        <button onclick="slowTopFunction()" id="myBtn" title="Go to top">Top</button>

        <style>
            #myBtn {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                border: none;
                outline: none;
                background-color: red;
                color: white;
                cursor: pointer;
                padding: 15px;
                border-radius: 4px;
            }

                #myBtn:hover {
                    background-color: #555;
                }
        </style>

        <script>
            window.onscroll = function () { scrollFunction() };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("myBtn").style.display = "block";
                } else {
                    document.getElementById("myBtn").style.display = "none";
                }
            }

            function slowTopFunction() {
                var intervalId = setInterval(function () {
                    if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0) {
                        document.body.scrollTop -= 20;
                        document.documentElement.scrollTop -= 20;
                    } else {
                        clearInterval(intervalId);
                    }
                }, 3);
            }
        </script>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>