@model WebNhaHang.Models.EF.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
<style>
    
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - Xuolo</title>
    <link href="~/Asset/css/ContactCss.css" rel="stylesheet" />


</head>

<body>
 
    <main>
        <section class="contact-info">
            <h2>Contact information</h2>
            <p>Address: 123 Nha be,TPHCM</p>
            <p>Phone: 0906303905</p>
            <p>Email: xuanloc290901@gmail.com</p>
            <p>Time open</p>
            <p>  Mon-Fri from 8:00 am to 5:00 pm<br></p>

        </section>
        <section class="contact-form">
            <h2>Send Us a Message</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p style="color:green;">@TempData["thongbao_message"]</p> 
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="text" name="Phone" required class="form-control" autocomplete="off"
                           pattern="(03|05|07|08|09)[0-9]{8}"
                            oninvalid="this.setCustomValidity('Phone number must start with 03, 05, 07, 08 or 09 and have exactly 10 digits')"
                           onchange="this.setCustomValidity('')"   onkeypress = "return valideNumber()"/>


                </div>
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <input type="submit" value="Send" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">

            }

        </section>




        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d15683.055833618631!2d106.729300959003!3d10.675420979508598!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTDCsDQwJzQxLjciTiAxMDbCsDQzJzQ4LjgiRQ!5e0!3m2!1svi!2s!4v1679016321464!5m2!1svi!2s" width="1600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

</body>

</html>
<script>
    function valideNumber() {
        var charCode = (event.which) ? event.which : event.keyCode;
        if (charCode >= 48 && charCode <= 57) {
            return true;
        } else {
            return false;
        }
    }
 
        function validPhoneNumber(event) {
  // Chỉ nhận các giá trị số và phím xoá
  if(event.charCode >= 48 && event.charCode <= 57 || event.keyCode === 8) {
    var phoneNumberInputs = document.getElementsByName('Phone');
        for(var i = 0; i < phoneNumberInputs.length; i++) {
      var phoneNumber = phoneNumberInputs[i].value;
        // Số điện thoại của Việt Nam có độ dài là 10 và bắt đầu từ số 0
        if(phoneNumber.length < 10 || phoneNumber.charAt(0) !== '0') {
            phoneNumberInputs[i].setCustomValidity('Phone numbers must start with 0 and be 10 digits long');
        } else {
            phoneNumberInputs[i].setCustomValidity('');
      }
    }
        return true;
  } else {
            event.preventDefault();
        return false;
  }
}
</script>