.cover-slides .container {
    height: 100%;
    position: relative;
    z-index: 2;
}

    .cover-slides .container > .row {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .cover-slides .container > .row {
        height: 100%;
    }

.shop-cat-box {
    margin-bottom: 30px;
    position: relative;
    padding: 3px;
    overflow: hidden;
    border: 0px solid #000000;
    box-shadow: 9px 9px 30px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease-in-out 0s;
}

    .shop-cat-box img {
        margin: -10px 0 0 -10px;
        max-width: none;
        width: -webkit-calc(100% + 10px);
        width: calc(100% + 10px);
        opacity: 0.9;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(10px,10px,0);
        transform: translate3d(10px,10px,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .shop-cat-box:hover img {
        opacity: 0.6;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .shop-cat-box a {
        position: absolute;
        z-index: 2;
        bottom: 0px;
        left: 0px;
        right: 0;
        margin: 0 auto;
        text-align: center;
        border: none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 0px;
    }
