





@{
    ViewBag.Title = "Thanh toán không thành công";

    Layout = "~/Views/Shared/_LayoutOther.cshtml";


}





<style>
    .h h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #666;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .btnn {
        display: inline-block;
        padding: 8px 16px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        transition: all 0.3s ease;
    }

    .btn:hover {
        background-color: #0062cc;
    }
</style>



<h1 class="h">Payment failed</h1> <p>Sorry, you cannot pay for this order because of product <span style="color:red;">@TempData["ProductName "]</span>. The quantity is not enough.</p> <p>Please return to the cart and edit the quantity or remove the product from the cart.</p> <p>Thank you for shopping in our store. .</p>

<a href="@Url.Action("Index", "ShoppingCart")" class="btnn btn-primary">Back to cart</a>