
@{
    ViewBag.Title = "Đặt hàng thành công";


    Layout = "~/Views/Shared/_LayoutOther.cshtml";

}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_responsive.css">
<link href="~/Content/assets/styles/main_styles.css" rel="stylesheet" />
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12" id="load_data">

                    <!-- Products -->
                    <h2>Bạn đã đặt hàng thành công</h2>

                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/content/assets/js/categories_custom.js"></script>
}

