@model IEnumerable<WebNhaHang.Models.ShoppingCartItem>
@using WebNhaHang.Common
@{
    ViewBag.Title = "Giỏ hàng";

    Layout = "~/Views/Shared/_LayoutOther.cshtml";


}
<style>
    .navbar-dark .navbar-brand img {
        margin-top: 105%;
    }

    .sticky-top.navbar-dark {
        position::
    }

    .navbar {
        float: none;
    }
</style>
<link href="~/Asset/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/Asset/css/stylerestaurant.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/content/assets/styles/categories_styles.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href=""><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12" id="load_data">

                    <!-- Products -->
                    @Html.Action("Partial_item_Cart", "ShoppingCart")

                </div>
                <div class="col-md-12">
                    @if (ViewBag != null)
                    {
                        <div class="text-right proceddd ">

                            <a href="#" class="primary-btn btnDeleteAll">Delete</a>
                            <a href="/thanh-toan" class="primary-btn">Proceed to checkout</a>



                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/content/assets/js/categories_custom.js"></script>
}
